target
.vagrant
*.rs.bk
fitsio-sys/ext/cfitsio/docs/*
cfitsio.xcodeproj
/fitsio-sys/ext/cfitsio/*.a
/fitsio-sys/ext/cfitsio/*.o
/fitsio-sys/ext/cfitsio/Makefile
/fitsio-sys/ext/cfitsio/cfitsio.pc
/fitsio-sys/ext/cfitsio/config.log
/fitsio-sys/ext/cfitsio/config.status
/fitsio-sys/ext/cfitsio/zlib/*.o
*.swp
fitsio-sys/ext/cfitsio/configure.prev
fitsio-sys/ext/cfitsio/include
fitsio-sys/ext/cfitsio/lib
