name: Test the package

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - 'bin/**'
      - 'fitsio/**'
      - 'fitsio-derive/**'
      - 'fitsio-sys/**'
      - 'testdata/**'
      - 'Cargo.toml'
      - 'Cargo.lock'
      - 'Cross.toml'
      - 'rust-toolchain.toml'
      - '.github/workflows/*.yml'

# Only one pull-request triggered run should be executed at a time
# (head_ref is only set for PR events, otherwise fallback to run_id which differs for every run).
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  ci-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        rust: [stable, beta]
        test: [array, bindgen, clippy, fitsio-src, fitsio-src-and-cmake, fitsio-src-and-bindgen, full-example, workspace]
    steps:
      - name: Checkout sources
        uses: actions/checkout@v5

      - name: Install ubuntu dependencies
        run: |
          sudo apt-get update && sudo apt-get install --no-install-recommends -y \
            llvm-dev \
            libcfitsio-dev \
            pkg-config \
            libssl-dev \
            cmake \
            python3

      - name: Install toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{matrix.rust}}
          override: true
          components: rustfmt, clippy

      - name: Install cargo-nextest
        uses: baptiste0928/cargo-install@v3
        with:
          crate: cargo-nextest
          locked: true

      - name: cargo generate-lockfile
        # enable this ci template to run regardless of whether the lockfile is checked in or not
        if: hashFiles('Cargo.lock') == ''
        run: cargo generate-lockfile

      - name: Test the code
        run: python3 ./bin/test --rust-version ${{matrix.rust}} --test ${{matrix.test}}

  macos-test:
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        rust: [stable, beta]
        test: [array, bindgen, clippy, fitsio-src, fitsio-src-and-cmake, fitsio-src-and-bindgen, full-example, workspace]
    steps:
      - name: Checkout sources
        uses: actions/checkout@v5

      - name: Install dependencies
        run: |
          brew install cfitsio python3 cmake

      - name: Install toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{matrix.rust}}
          override: true
          components: rustfmt, clippy

      - name: Install cargo-nextest
        uses: baptiste0928/cargo-install@v3
        with:
          crate: cargo-nextest
          locked: true

      - name: cargo generate-lockfile
        # enable this ci template to run regardless of whether the lockfile is checked in or not
        if: hashFiles('Cargo.lock') == ''
        run: cargo generate-lockfile

      - name: Test the code
        run: python3 ./bin/test --rust-version ${{matrix.rust}} --test ${{matrix.test}}

  linux-armv7:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
    steps:
      - name: Checkout sources
        uses: actions/checkout@v5

      - name: Install toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true
          target: armv7-unknown-linux-gnueabihf

      # workaround https://github.com/cross-rs/cross/issues/1177
      - name: Install cargo cross
        run: |
          cargo install cross --locked

      - name: cargo generate-lockfile
        # enable this ci template to run regardless of whether the lockfile is checked in or not
        if: hashFiles('Cargo.lock') == ''
        run: cargo generate-lockfile

      - name: Test the code
        uses: actions-rs/cargo@v1
        with:
          use-cross: true
          command: test
          args: --target armv7-unknown-linux-gnueabihf --manifest-path fitsio/Cargo.toml

  windows-test:
    runs-on: windows-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v5

      - name: Set up msys2
        uses: msys2/setup-msys2@v2

      - name: Install dependencies
        shell: msys2 {0}
        run: |
          pacman -S --noconfirm \
          mingw-w64-x86_64-gcc \
          mingw-w64-x86_64-make \
          mingw-w64-x86_64-winpthreads \
          mingw64/mingw-w64-x86_64-cfitsio \
          mingw64/mingw-w64-x86_64-pkgconf \
          mingw64/mingw-w64-x86_64-cmake \
          mingw64/mingw-w64-x86_64-rust

      - name: cargo generate-lockfile
        # enable this ci template to run regardless of whether the lockfile is checked in or not
        if: hashFiles('Cargo.lock') == ''
        run: cargo generate-lockfile

      - name: Run the tests
        shell: msys2 {0}
        run: |
          cargo test -p fitsio

      - name: Run the tests, with fitsio-src/src-cmake
        shell: msys2 {0}
        run: |
          cargo test -p fitsio --features=fitsio-src,src-cmake
