name: Update bindings

on:
  workflow_dispatch:

jobs:
  generate-bindings:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Install ubuntu dependencies
        run: |
          sudo apt-get update && \
          sudo apt-get install --no-install-recommends -y \
            libcfitsio-dev \
            pkg-config \
            libssl-dev \
            gcc-multilib

      - name: Install toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true

      - name: Install bindgen
        run: |
          cargo install bindgen-cli --locked

      - name: Generate bindings
        run: |
          make -C fitsio-sys all

      - name: Create the pull request
        uses: peter-evans/create-pull-request@v6.0.5
        with:
          branch: update-bindings
          delete-branch: true
          title: Update bindgen static bindings
          assignees: simonrw
          base: main
          commit-message: Update bindings
          token: ${{ secrets.PIPELINE_TOKEN }}
